[dark-theme=false]{
    --bg: #4c2886;
}

[dark-theme=true]{
    --bg: #b088f9;
}

.top-btn{
    position: fixed;
    background-color: var(--bg);
    padding: 0.5rem 0.75rem;
    color: white;
    border-radius: 0.5rem;
    top: 90%;
    left: 87%;
    z-index: 5;
    cursor: pointer;
    animation: fade 0.5s ease-out forwards;
}

@keyframes fade{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and(min-width:700px){
    .top-btn{
        left: 93%;
    }
}